<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<body role="document" class="page" >

	<div class="container" role="main" layout:fragment="content">
		<div ng-controller="adminCtrl" class="container meio">
			<p th:if="${param.error}" class="alert alert-error">Ocorreu algum erro, tente novamente.</p>	
    		<div class="pageTitle col-md-12">
    	 		<h2>Administra&ccedil;&atilde;o</h2>
    		</div>  	
		  	<div class="center-block">
		    	
		    	<input class="btn btn-default center-block" type="button" ng-click="novo=true" ng-show="!novo" value="Novo Experimento"/>
		  	</div>
	    	<div class="col-md-6"  ng-show="novo">
			  <form name="form" th:action="@{/admin}" action="/login" method="POST">
			   <label class="control-label requerido">Nome</label> <input class="form-control" type="text" ng-model="novoExperimento.nome" /><br />
			   <label class="control-label requerido">Tipo</label>  
			   <div class="radio"><label><input name="tipo" type="radio" ng-model="novoExperimento.tipo" value="single" />Experimento 1x1</label></div>
			   <div class="radio"><label><input name="tipo" type="radio" ng-model="novoExperimento.tipo" value="single" />Experimento 5x5</label></div>
			    
			    <div class="form-inline">
			    	<input class="btn btn-default" type="button" ng-click="novo=false"  value="Cancelar"/>
			    	<input class="btn btn-default btn-primary" type="button" ng-click="update(novoExperimento)" value="Criar" />
			    </div>
			  </form>
			</div>
	    	<table ng-show="experimentos.length">
				<tr ng-repeat="experimento in experimentos | orderBy : 'id'">
					<td ng-hide="true">{{ experimento.id }}</td>
					<td>{{ experimento.nome }}</td>
					<td>{{ experimento.status }}</td>
				</tr>
			</table>
	  	</div>
	</div>

</body>
</html>
