<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<body role="document" class="page" >

	<div class="container" role="main" layout:fragment="content">
		<div ng-controller="adminCtrl" class="container meio">
			<p th:if="${param.error}" class="alert alert-error">Ocorreu algum erro, tente novamente.</p>	
    		<div class="pageTitle col-md-12">
    	 		<h2>Administra&ccedil;&atilde;o</h2>
    		</div>  	
		  	<div class="center-block">
		    	<input type="button" ng-click="novo=true" ng-show="!novo"/>
		  	</div>
	    	<div  ng-show="novo">
			  <form name="form" th:action="@{/admin}" action="/login" method="POST">
			    Nome: <input type="text" ng-model="novoExperimento.nome" /><br />
			    Tipo: <input type="radio" ng-model="novoExperimento.tipo" value="single" />Single
			    <input type="radio" ng-model="novoExperimento.tipo" value="multiplayer" />Multiplayer<br />
			    <div class="form-inline">
			    	<input type="button" ng-click="novo=false" />
			    	<input type="submit" ng-click="update(novoExperimento)" value="Save" />
			    </div>
			  </form>
			</div>
	    	<table ng-show="experimentos.length">
				<tr ng-repeat="experimento in experimentos | orderBy : 'id'">
					<td ng-hide="true">{{ experimento.id }}</td>
					<td>{{ experimento.nome }}</td>
					<td>{{ experimento.status }}</td>
				</tr>
			</table>
	  	</div>
	</div>

</body>
</html>
