<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<body role="document" class="page" >

	<div class="container" role="main" layout:fragment="content">
		<div ng-controller="cadastroJogadorCtrl" class="container meio">
			<p th:if="${param.error}" class="alert alert-error">Ocorreu algum erro, tente novamente.</p>	
    		<div class="pageTitle col-md-12">
    	 		<h2>Trust Game Cadastro do Jogador</h2>
    		</div>  
    		<div class="instrucoes">
    			<p></p>
    		</div>		
		  
	    	<div>
			  <form name="form" th:action="@{/cadastroJogador}" action="/login" method="POST">
			  <div class="form-group col-md-6">
			    Nome: <input type="text" ng-model="jogador.nome" /><br />
			    Data de Nascimento: <input type="text" ng-model="jogador.dataNascimento" /><br />
			    Sexo: <input type="radio" ng-model="jogador.sexo" value="m" />Masculino
			    <input type="radio" ng-model="jogador.sexo" value="f" />Feminino<br />
			    <div class="form-inline">
			    	<input type="button" ng-click="novo=false" />
			    	<input type="submit" ng-click="update(novoExperimento)" value="Save" />
			    </div><br/>
			    
			    Tempo de Experi&ecirc;ncia Profissional: <input type="text" ng-model="jogador.experiencia" /><br />
			    <label class="requerido">Forma&ccedil;&atilde;o Acad&ecirc;mica:</label>
					 <select class="form-control" ng-model="formacaoAcademica"
                     ng-options="formacao.nome for formacao in formacoes track by formacao.id"/>
                <label class="requerido">Atua&ccedil;&atilde;o Profissional:</label>
					 <select class="form-control" ng-model="atuacaoProfissional"
                     ng-options="atuacao.nome for atuacao in atuacoes track by atuacao.id"/>
			   </div> 
			  </form>
			</div>
	    	<table ng-show="experimentos.length">
				<tr ng-repeat="experimento in experimentos | orderBy : 'id'">
					<td ng-hide="true">{{ experimento.id }}</td>
					<td>{{ experimento.nome }}</td>
					<td>{{ experimento.status }}</td>
				</tr>
			</table>
	  	</div>
	</div>

</body>
</html>
